{% extends "::base.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div class="page-header">
        <h1>Les équipes</h1>
    </div>
    <p>Les meilleures, les pires, celles qui jouent le plus, etc.</p>
    <hr />

    {% block team_body %}

    {% endblock %}
{% endblock %}