<ul>
    {% for t in teams %}
        <li><a href="{{ path('game_card_team_show', {'id': t.id}) }}" class="btn btn-default">{{ t.player1.firstname }} & {{ t.player2.firstname }}</a></li>
    {% endfor %}
</ul>
