{% extends "GameCardBundle::layout.html.twig" %}

{% block title %}
    Les joueurs - {{ parent() }}
{% endblock %}

{% block game_body %}

    <div class="page-header">
        <h1>Les joueurs</h1>
    </div>
    <p>Les historiques, les statitisques, les points, etc.</p>
    <hr />

    <p>
    {% for p in player  %}
        {{  p.firstname }}<br />
        {{  p.lastname }}<br />
        {{  p.birth|date("m/d/Y") }}<br />
    {% endfor %}
    </p>

{% endblock %}