{% extends "::base.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div class="page-header">
        <h1>Les joueurs</h1>
    </div>
    <p>Les historiques, les statitisques, les points, etc.</p>
    <hr />

    {% block player_body %}


    {% endblock %}
{% endblock %}