{% extends "GameCardBundle::layout.html.twig" %}

{% block title %}
    Les équipes - {{ parent() }}
{% endblock %}

{% block game_body %}

    {% block game_body_title %}
        <div class="page-header">
            <h1>
                {% for p in player  %}
                    {{  p.firstname }}
                {% endfor %}
            </h1>
        </div>
    {% endblock %}

    <p>à faire : </p>
    <ul>
        <li>nb de victoires</li>
        <li>nb de confrontation</li>
        <li>classement par point</li>
        <li>classement pas victoire</li>
        <li>classement par en %</li>
    </ul>

    <hr />

    <p>
        {% for p in player  %}
            {{  p.firstname }}<br />
        {% endfor %}
    </p>

{% endblock %}